* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    /* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap') */
    scroll-behavior: smooth;
    transition: 0.5s;
}


body {
    background: url(/PortofolieoV2/images/mountain-dusk.jpg);
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

.over_lay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.5);
}

header {
    position: fixed;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
    z-index: 5;
    transition: 0.8s ease-in-out;
}
header h2 {
    font-weight: 400;
}

header h2 p,ul a {
    display: inline-block;
    padding: 10px;
    height: 100%;
    color: #fff;
    margin: 0;
    transition: 0.8s;
    font-weight: 250;
}

header ul a:hover {
    background: #222;
}
header .menu_icon {
    display: none;
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    color: aliceblue;
    flex-direction: column;
    position: relative;
    z-index: 3;
}
.about .contain {
    position: relative;
    z-index: 2;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.about .contain h1 {
    padding: 20px;
    font-size: 50px;
    font-weight: 250;
}
.about .contain p {
    padding: 10px;
    font-size: 25px;
    font-weight: 200;
}
.about .container a i {
    margin-top: 50px;
    font-size: 30px;
    color: rgba(240, 248, 255);
    opacity: 0.5;
    transition: 0.8s;
    cursor: pointer;
}
.about .container i:hover {
    opacity: 1;
}
@keyframes animate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.information{
    padding-top: 50PX;
    background: #eee;
}
.title {
    text-align: center;
    padding-bottom: 20px;
    font-weight: 350;
}
.information .content{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: animate 1s both;
    animation-delay: 0.5s;
}
.information .content .image:hover{
    filter: none;
}
.information .content .image {
    width: 300px;
    height: 300px;
    overflow: hidden;
    filter: grayscale();
    border-radius: 50%;
}
.information .image img {
    width: 100%;
}
.information .text {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    animation: animate 1s both;
    animation-delay: 0.5s;
}

.information .text h2 {
    font-size: 30px;
    font-weight: 350; 
    text-align: center;
}
.information .text p {
    font-size: 20px;
    padding-bottom: 15px ;
    text-align: center;
}
.information .text p span {
    font-style: italic;
}
.information .text .button {
    background: #3d3d3d;
    padding: 15px 40px;
    color: #eee;
    margin-bottom: 20px;
}
.Skills {
    background: #fff;
    text-align: center;
    padding: 50px 0;
}
.Skills .skill {
    display: inline-block;
}
.Skills .skill i {
    font-size: 100px;
    padding: 10px 30px;
    filter: grayscale();
}

.Skills .skill i:hover {
    filter: none;
    transition: 0.5s;
}
.projects {
    background: #eee;
    width: 100%;
    padding-top: 50px;
}



/* tesssssssssssssssssssssssst */

/* 
  .popup_gallery {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    display: none;
  }
  .popup_img {
    position: fixed;
    background-color: var(--back-color);
    z-index: 1001;
    border: 3px solid #eee;
    padding: 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
  .popup_img img {
    max-width: 100%;
  }
  .close_popup {
    background-color: var(--main-color);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    top: -15px;
    right: -15px;
    position: absolute;
    text-align: center;
    cursor: pointer;
  } */


/* tesssssssssssssssssssssssst */

.projects .pop-up {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: #3d3d3d8a;
    z-index: 36;
    display: none;
}
.projects .pop-up .popUp-Gallery {
    width: 700px;
    height: 750px;
    background-color: #eee;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 10px;
}
.pop-up .popUp-Gallery .gallery {
    width: 100%;
    /* margin: 10px; */
    background-color: #eee;
    height: 50%;
    overflow: hidden;
}
.pop-up .popUp-Gallery .gallery img {
    width: 100%;
}
.projects .pop-up .popUp-Gallery p {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
}
.projects .pop-up .popUp-Gallery .buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}
.projects .pop-up .popUp-Gallery .buttons a{
    background: #3d3d3d;
    color: #eee;
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}
.pop-up .close_pop {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #eeeeee3b;
    border-radius: 50%;
}
.pop-up .close_pop:hover {
    background-color: #111;
}
.projects .container {
    gap: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects .project {
    position: relative;
    width: 450px;
    overflow: hidden;
    display: inline-block;
}
.projects .project .over_lay {
    opacity: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .project .over_lay i {
    font-size: 40px;
    color: #fff;
    cursor: pointer;

}
.projects .project .over_lay span {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #420101;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 40px;
    color: #fff;
    font-size: 20px;
}
.projects .project .over_lay:hover {
    opacity: 0.8;
}
.projects .project img {
    width: 100%;
    height: 100%;
}
.contact {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #111;
    min-height: 250px;
    gap: 25px;
    padding: 20px 0;
    position: relative;
    flex-direction: column;
    flex-wrap: nowrap;
}
.contact div a {
    font-size: 35px;
    color: #eee;
    display: inline-block;
    background: #3d3d3d;
    padding: 5px 15px;
    margin: 0 10PX;
    text-align: center;
    border-radius: 5px;
}
.contact div a:hover {

}
.contact img {
    margin: 10px 0;
    cursor: pointer;
}
.contact .roket_img:hover.text_roket p {
    opacity: 1;
    color: #ff0000;
} 
.contact .text_roket {
    /* color: #fff; */
    /* opacity: 0; */
}
.contact p.copy {
    color: #fff;
    font-weight: 100;
}
